<template>
  <p >Temps de reaction - {{ this.score }} ms</p>
  <p class="rank">{{ this.rank }}</p>
</template>

<script>
export default {
    props: ['score'],
    data(){
        return {
            rank: null
        }
    },
    mounted(){
        if(this.score < 250){
            this.rank = 'Ninja'
        } else if (this.score < 400){
            this.rank = 'Guepard'
        } else {
            this.rank= 'Escargot'
        }
    }
}
</script>

<style>
    .rank{
        font-size: 1.4em;
        color: #0faf87;
        font-weight: bold;
    }
</style>